.tickerWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ebe6e600;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
  }
  
  .ticker {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
  }
  
  .tickerContent {
    display: flex;
    gap: 40px;
    padding-left: 100%;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  